@model IEnumerable<Projeto_SIGO_Web.Models.Servico>

    @{
    ViewBag.Title = "Index";
    }

    <h2>Lista de Serviços</h2>

    <p>
        @Html.ActionLink("Adicionar Serviço", "Create", new { @class = "btn btn-outline-primary" } )
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vencimento)
            </th>
            <th>Ações</th>
        </tr>

        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor, new { @id = "preco"})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vencimento)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.ID}, new { @class = "btn btn-primary" } ) |
                <button type="button" class="btn btn-danger" data-item="@item.ID">Excluir</button>
            </td>
        </tr>
}

    </table>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/js/Mascara.js"></script>
        <script src="~/js/Servico.js"></script>
    }
