@model IEnumerable<Projeto_SIGO_Web.Models.ItensOrdem>

    @{
    ViewBag.Title = "Index";
    }

    <h2>Lista de Itens</h2>

    <p>
        @Html.ActionLink("Adicionar Item", "Create", new { @class = "btn btn-outline-primary" } )
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Garantia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desconto)
                (R$)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
                (R$)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defeito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdemDeServico.TipoPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico.Descricao)
            </th>
            <th>Ações</th>
        </tr>

        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garantia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desconto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defeito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdemDeServico.TipoPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico.Descricao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID },  new { @class = "btn btn-primary" }) |
                <button type="button" class="btn btn-danger" data-item="@item.ID">Excluir</button>
            </td>
        </tr>
}

    </table>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/js/Mascara.js"></script>
        <script src="~/js/.js"></script>
    }
